/**
* Auteur: Srijon Rahman
* Date: 04.04.2023
* Projet: TPI video game club
* Détail: Gère en grande partie le visuel du site
*/


footer {
    color: rgb(255, 255, 255);
    background-color: rgba(49, 49, 49, 0.801);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}

main {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}